ION_ENDPOINT=https://api.mainnet.ice.io/http/v2/jsonRPC
ION_MNEMONIC="word1 word2 word3 word4 word5 word6 word7 word8 word9 word10 word11 word12 word13 word14 word15 word16 word17 word18 word19 word20 word21 word22 word23 word24"
CONTRACT_ADDRESS=
LOTTERY_OWNER_ADDRESS=
LOTTERY_INSTANT_DRAWS=false
DRAW_KEEPER_MNEMONIC="word1 word2 word3 word4 word5 word6 word7 word8 word9 word10 word11 word12 word13 word14 word15 word16 word17 word18 word19 word20 word21 word22 word23 word24"
DRAW_VALUE=0.2
MESSAGE_VALUE=0.1
CRON_SECRET=
NEXT_PUBLIC_ION_ENDPOINT=https://api.mainnet.ice.io/http/v2/jsonRPC
NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_APP_URL=http://localhost:3000
